<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--
<suite name="Suite">

  <test thread-count="5" name="Test">

    <classes>

      <class name="tests.RegistrationPageTest"/>
      <class name="tests.clinicalExamination.VitalSignsTest"/>
      <class name="tests.clinicalExamination.OcularHistoryTest"/>
      <class name="tests.clinicalExamination.VisualAcuityTest"/>
      <class name="tests.clinicalExamination.OcularExaminationTest"/>
      <class name="tests.clinicalExamination.ChiefComplaintTest"/>
      <class name="tests.clinicalExamination.DiagnosisAndAdviseTest"/>
      

    </classes>

  </test>

</suite>

-->

<suite name="Suite" parallel="classes" thread-count="5">

  <test name="Test">

    <classes>

      
      <class name="tests.clinicalExamination.VitalSignsTest"/>
      <class name="tests.clinicalExamination.OcularHistoryTest"/>
      <class name="tests.clinicalExamination.VisualAcuityTest"/>
      <class name="tests.clinicalExamination.OcularExaminationTest"/>
      <class name="tests.clinicalExamination.ChiefComplaintTest"/>
      <class name="tests.clinicalExamination.DiagnosisAndAdviseTest"/>

    </classes>

  </test>

</suite>

